body {
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(153,7,210,1) 0%, rgba(84,84,84,1) 0%, rgba(41,41,41,1) 0%, rgba(158,178,184,1) 86%);
    background-repeat: repeat;
    background-size: 100%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.caja {
    width: 75%;
    height: 250px;
    border: 1px solid grey;
    margin: 0 auto;
    background-color: white;

}

.cabecera {
    -webkit-box-shadow: -4px 4px 84px -50px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 4px 84px -50px rgba(0,0,0,0.75);
    box-shadow: -4px 4px 84px -50px rgba(0,0,0,0.75);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(153,7,210,1) 0%, rgba(33,82,226,1) 0%, rgba(7,184,231,1) 86%);
    margin-inline-start: 0;
    margin-block-start: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;


}

.caja h1 {
    color: blue;
    text-align: center;
    font-family: "Arial";
    font-size: 20px;
    margin: 10px;
    /* margin-block-start: 0;
    margin-block-end: 0; */
}
 p {
     text-align: center;
     color: black;
     /* display: flex; */

 }

}
 p {
     text-align: center;
     color: black;
     /* display: flex; */
     font-size: 16px;
 }

.cabecera h1 {
    color: white;
    font-size: 20px;
}

.cabecera p {
    color: white;
    font-size: 18px;
    text-align: center;
}

#logo {
    width: 25px;
}